#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card{
  background-color: rgba(255, 255, 255, 0.6);
  margin: 60px 300px 40px;
  padding: 4em ;
  transform-style: preserve-3d;
  transition: 0.5s;
  transform: perspective(1000px) rotateX(var(--rotate-X, 0));
}
.flip{
  --rotate-X: 180deg;
}
.back{
  transform: perspective(1000px) rotateX(var(--rotate-X, 0));
}
/* button{
  width:50px;
  height: 30px;
  border-radius: 10px;
} */


.button{
  
}